@model AlumniManagment.Models.ViewModels.EventViewModel
@{
    ViewBag.Title = "create";
}


<form asp-action="createevent" asp-controller="admin" method="post" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()
    <h4>Create a new Event.</h4>
    <hr />
    <partial name="_FormValidationSummary"></partial>
    
    <div class="form-group">
        <label asp-for="@Model.eventDto.title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="@Model.eventDto.title" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.eventDto.description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="@Model.eventDto.description" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.eventDto.registrationFee" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="@Model.eventDto.registrationFee" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.eventDto.shirtFee" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="@Model.eventDto.shirtFee" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.eventDto.dinnerFee" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="@Model.eventDto.dinnerFee" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.eventDto.locationLink" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="@Model.eventDto.locationLink" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.calendarDto.start" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="@Model.calendarDto.start" class="form-control" required type = "datetime-local"/>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.calendarDto.end" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="@Model.calendarDto.end" class="form-control" type="datetime-local" required/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Create" />
        </div>
    </div>
</form>
